<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.petero.texelchessengine107"
    android:versionCode="1"
    android:versionName="1.07" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="org.petero.texelchessengine107.TexelActivity"
            android:label="Texel Chess Engine">
            <intent-filter>
                <action android:name="intent.chess.provider.ENGINE" />
            </intent-filter>
            <meta-data
                android:name="chess.provider.engine.authority"
                android:value="org.petero.texelchessengine107.TexelEngineProvider" />
        </activity>
        <provider
            android:name="org.petero.texelchessengine107.TexelEngineProvider"
            android:authorities="org.petero.texelchessengine107.TexelEngineProvider"
            android:exported="true" />
    </application>
</manifest>
